<div class"row">
  <div class="large-12 columns">
    <img src="/img/screenshots/<%= publisher %>.jpg">
    <a href="#" id="show-overlay" data-reveal-id="myModal"></a>
    <div id="myModal" class="reveal-modal medium get-started" data-reveal>
      <div class="row">
        <div class="large-1 columns"></div>
        <div class="large-10 columns">
          <h2>Get push notifications with <%= publisher %> top headlines</h2>
        </div>
        <div class="large-1 columns"></div>
      </div>
      <form method="POST" action="/subscribe" id="subscribe-form">
        <label>
          <input type="tel" id="mobile-number">
          <input type="hidden" name="phone">
          <input type="hidden" name="publisher" value="<%= publisher %>">
          <span id="valid-msg" class="hide">✓ Valid</span>
          <span id="error-msg" class="hide">Invalid number</span>
        </label>
        <script>
          var telInput = $("#mobile-number"),
            errorMsg = $("#error-msg"),
            validMsg = $("#valid-msg");

          // initialise plugin
          telInput.intlTelInput({
            utilsScript: "/js/libraries/phone-input/js/libphonenumber/build/utils.js",
            defaultCountry: "auto"
          });

          // on blur: validate
          telInput.blur(function() {
            if ($.trim(telInput.val())) {
              if (telInput.intlTelInput("isValidNumber")) {
                validMsg.removeClass("hide");
              } else {
                telInput.addClass("error");
                errorMsg.removeClass("hide");
                validMsg.addClass("hide");
              }
            }
          });

          // on keydown: reset
          telInput.keydown(function() {
            telInput.removeClass("error");
            errorMsg.addClass("hide");
            validMsg.addClass("hide");
          });

          function prepareData() {
            var intlNumber = telInput.intlTelInput("getNumber")
            console.log(intlNumber)

            //populate phone hidden field

            // submit form
            document.getElementById('subscribe-form').submit();
          }
        </script>
        <a class="button" onclick="prepareData()" href="#">SUBSCRIBE</a>
      </form>
      <h3>Powered by</h3>
      <img src="/img/paperboy_logo.png">
      <a class="close-reveal-modal">&#215;</a>
    </div>
  </div>
</div>
<script src="js/vendor/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<script>
  $(document).foundation();
</script>
<script>
  $(document).ready(function() {
    setTimeout(function(){
       $('#show-overlay').click();
    }, 0000);
  });
</script>

