
<!DOCTYPE html>
<html>
  <head>
    <title>Sample App</title>
  </head>
  <body>
    <h1>Hello World</h1>
    <form method="POST" action="/subscribe">
      <input type="text" name="phone" placeholder="Your phone number">
      <input type="hidden" name="publisher" value="<%= publisher %>">
      <input type="submit">
    </form>
  </body>
</html>
