/*Fonts*/

html, html a {
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

a, p, h1, h2, h3, h4, h5, h6 {
	font-family: "Avenir-Black"!important;
}

.column, .columns{
  min-height: 1px;
}


/*Navigation bar*/

.contain-to-grid {
	background: rgba(255,255,255, 0.7);
	transform: translateZ(0);
	padding-top: 5px;
	padding-bottom: 7px;
}

.top-bar {
	background: transparent;
	height: 3rem;
}

.top-bar img {
	width: 153px;
}

.top-bar .title-area {
	padding-top: 0.5rem;
	padding-left: 1.875rem;
}

.top-bar .button {
	height: 2.5rem;
}

.top-bar-section ul li {
	background: transparent;
}

.top-bar-section li:not(.has-form) a:not(.button) {
	background: transparent;
	margin-top: 0.5rem;
	margin-bottom: 0.25rem;
}

.top-bar-section .has-form {
	background: transparent;
	padding-right: 1.875rem;
}

.top-bar-section ul li > a {
	font-size: 0.75rem;
	color: #232930;
}

.top-bar-section ul li > a.button {
	font-size: 0.75rem;
	padding-right: 1.4375rem;
	padding-left: 1.4375rem;
	padding-top: 0.74rem;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
	background: none;
}

.top-bar-section ul li:hover:not(.has-form) > a {
	background: none;
	color: #595d66;
}

.top-bar.expanded .title-area {
	background: #ffffff;
}

.top-bar .toggle-topbar.menu-icon a span::after {
	margin-right: 0.75rem;
	box-shadow: 0 0 0 1px #232930, 0 7px 0 1px #232930, 0 14px 0 1px #232930;
}

/*Hero*/

.hero {
	margin-top: 4.875rem;
}

.hero img {
	width: 319px;
}

.hero h1 {
	font-size: 3.125rem;
	line-height: 3.563rem;
	letter-spacing: -0.1rem;
}

.hero h2 {
	font-family: "Avenir-Roman"!important;
	font-size: 2.375rem;
	margin-top: 1.85rem;
	margin-bottom: 0.1rem;
}

.hero p {
	font-family: "Avenir-Roman"!important;
	color: #3c4045!important;
	font-size: 1.25rem;
	line-height: 1.6rem;
}

.hero .button {
	float: right;
	margin-right: 10rem;
	margin-top: 0.5rem;
}

.hero .large-7 {
	margin-top: 9.688rem;
}

.push {
	color: #27a1ff;
}

.swipe {
	color: #54b5ff;
}

.engage {
	color: #73c2ff;
}

/*How it works*/

.how-it-works {
	padding-top: 4rem;
}

.how-it-works h1 {
	text-align: center;
	letter-spacing: -0.1rem;
	margin-bottom: 5rem;
}

.imac {
	width: 223px;
}

.idevices {
	width: 237px;
}

.smile {
	width: 134px;
}

.how-it-works h2 {
	font-size: 1.75rem;
}

.how-it-works p {
	font-family: "Avenir-Roman"!important;
	color: #3c4045!important;
	font-size: 1.25rem;
	line-height: 1.6rem;
}

.how-it-works .row:nth-child(2) h2 {
	color: #27a1ff;
}

.how-it-works .row:nth-child(2) img {
	float: right;
}

.how-it-works .row:nth-child(2) .large-4 {
	padding-left: 2rem;
}

.how-it-works .row:nth-child(3) {
	padding-top: 3.5rem;
}


.how-it-works .row:nth-child(4){
	padding-top: 2rem;
}

.how-it-works .row:nth-child(3) h2 {
	color: #54b5ff;
}

.how-it-works .row:nth-child(4) h2 {
	color: #73c2ff;
}

.how-it-works .row:last-child h2 {
	text-align: center;
	padding-top: 5rem;
	font-size: 1.75rem;
	letter-spacing: -0.05rem;
}

.how-it-works .row:last-child {
	text-align: center;
}

.how-it-works .button {
	margin-top: 1.5rem;
	text-align: center;
	margin-bottom: 7rem;
}

/*Customers*/

.customers {
	text-align: center;
	padding-bottom: 6rem;
}

.customers h1 {
	letter-spacing: -0.05rem;
	margin-top: 3rem;
	margin-bottom: 4rem;
}

/*App store*/

.app-store {
	padding-top: 2rem;
	padding-bottom: 0.4rem;
	text-align: center;
}

.app-store img {
	float: left;
}

.app-store .large-4 p {
	font-size: 1.2rem;
	padding-top: 0.8rem;
}

.app-store .large-2 {
	padding-top: 0.4rem;
}

.app-store .large-2 p {
	float: left;
	margin-left: 1rem;
	margin-top: 0.5rem;
	font-family: "Avenir-Roman"!important;
}

.ios-logo {
	width: 150px;
}

.google-play {
	width: 128px;
}

/*Footer*/

.footer {
	text-align: center;
	padding-top: 1.5rem;
	padding-bottom: 0.5rem;
}

.footer p {
	font-size: 0.75rem;
}

/*Terms*/

.terms .large-12 {
	padding-left: 8em;
	padding-right: 8em;
	padding-top: 4em;
}

.terms p {
	font-family: "Avenir-Roman"!important;
}

/*Get started modal*/

.get-started {
	text-align: center;
}

.get-started h2 {
	font-size: 2.3rem;
	letter-spacing: -0.05rem;
}

.get-started p {
	font-family: "Avenir-Roman"!important;
	font-size: 1.3rem;
}

.get-started input {
	box-shadow: none;
	padding: 1.2rem 0 1.4rem 1rem;
}

.get-started ::-webkit-input-placeholder {
   font-family: "Avenir-Roman";
   font-size: 1rem;
}

.get-started :-moz-placeholder { /* Firefox 18- */
   box-shadow: none;
   font-family: "Avenir-Roman";
}

.get-started ::-moz-placeholder {  /* Firefox 19+ */
   box-shadow: none;
   font-family: "Avenir-Roman";
}

.get-started :-ms-input-placeholder {  
   box-shadow: none;
   font-family: "Avenir-Roman"; 
}

.get-started.reveal-modal {
	padding-bottom: 0;
}

.get-started input[type="text"]:focus {
	background: #ffffff;
	box-shadow: 0 0 5px #54b5ff;
	border-color: #cccccc;
}

.reveal-modal-bg {
	position: fixed;
}

.show-terms-privacy {
	display: none
}

#show-overlay {
	display: none;
}

#myModal .button {
	margin-top: 1rem;
	background-color: #089E00;
}

.intl-tel-input input, .intl-tel-input input[type=tel] {
	padding-left: 100px;
}

.intl-tel-input .selected-flag {
	background-color: #ededed;
	width: 60px;
	padding: 0 0 0 17px;
}