/*Fonts*/

html, html a {
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

a, p, h1, h2, h3, h4, h5, h6 {
	font-family: "Avenir-Black"!important;
}

.column, .columns{
  min-height: 1px;
}

/*Subscribe modal*/

.get-started {
	text-align: center;
}

.get-started h2 {
	font-size: 2rem;
	letter-spacing: -0.05rem;
}

.get-started p {
	font-family: "Avenir-Roman"!important;
	font-size: 1.3rem;
}

.get-started input {
	box-shadow: none;
	padding: 1.6rem 0 1.7rem 1rem;
}

.get-started ::-webkit-input-placeholder {
   font-family: "Avenir-Roman";
   font-size: 1rem;
}

.get-started :-moz-placeholder { /* Firefox 18- */
   box-shadow: none;
   font-family: "Avenir-Roman";
}

.get-started ::-moz-placeholder {  /* Firefox 19+ */
   box-shadow: none;
   font-family: "Avenir-Roman";
}

.get-started :-ms-input-placeholder {  
   box-shadow: none;
   font-family: "Avenir-Roman"; 
}

.get-started.reveal-modal {
	padding-bottom: 0;
}

.get-started input[type="text"]:focus {
	background: #ffffff;
	box-shadow: 0 0 5px #54b5ff;
	border-color: #cccccc;
}

.reveal-modal-bg {
	position: fixed;
}

.show-terms-privacy {
	display: none;
}

#show-overlay {
	display: none;
}

.button {
	margin-top: 1rem;
	background-color: #089E00;
}

.intl-tel-input input, .intl-tel-input input[type=tel] {
	padding-left: 100px;
}

.intl-tel-input .selected-flag {
	background-color: #ededed;
	width: 60px;
	padding: 0 0 0 17px;
}



