<div class="row">
  <div class="large-12 columns footer">
    <ul>
      <li class="show-terms-privacy"><a href="terms.html">TERMS</a></li>
      <li class="show-terms-privacy">&#124</li>
      <li class="show-terms-privacy"><a href="privacy.html">PRIVACY</a></li>
    </ul>
    <p>2015 Paperboy, Inc. All Rights Reserved.</p>
  </div>
</div>


<script src="js/vendor/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<script>
  $(document).foundation();
</script>