<div class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <a href="/"><img src="img/paperboy_logo.png"></a>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>
    <section class ="top-bar-section">
      <ul class="right">
        <li class="hide-terms-privacy"><a href="terms">TERMS</a></li>
        <li class="hide-terms-privacy"><a href="privacy">PRIVACY</a></li>
        <li><a href="mailto:hello@getpaperboy.com?Subject=Hi%20Paperboy!" target="_top">CONTACT US</a></li>
        <li><a href="https://itunes.apple.com/us/app/paperboy-news-headlines-delivered/id959668177?l=en&mt=8" target="_blank">DOWNLOAD APP</a></li>
        <li class="has-form"><a href="http://foundation.zurb.com/docs" class="button radius">PUBLISHER LOGIN</a></li>
      </ul>
    </section>
  </nav>
</div>