<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Paperboy</title>
<link rel="stylesheet" href="/css/foundation.css" />
<link rel="stylesheet" href="/js/libraries/phone-input/css/intlTelInput.css">
<link rel="stylesheet" href="/css/fonts.css" />
<link rel="stylesheet" href="/css/main.css" />
<link rel="stylesheet" href="/css/responsive.css" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<script src="/js/vendor/modernizr.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/js/libraries/phone-input/js/intlTelInput.min.js"></script>